<div class="new-tab-cont">
  <h3>Create new tab</h3>
  <form [formGroup]="newTabForm" class="new-tab-cont">
    <input type="text" [formControl]="name" placeholder="Title">
    <textarea [formControl]="content" name="content"></textarea>
    <button (click)="addTab()">Add</button>
  </form>
</div>
