<button (click)="toggleForm()">
    {{ formIsVisible ? 'Close form' : 'Add tab' }}
</button>

<hr>
<new-tab *ngIf="formIsVisible" (onCreate)="onCreate($event)"></new-tab>
<hr>

<div class="tabs__titles">
  <div class="tabs__title" 
      *ngFor="let tab of tabs" 
      (click)="selectTab(tab)" [ngClass]="{ 'tabs__title--active': selectedTab.id === tab.id }">
    <b>{{ tab.name }}</b>    
  </div>
  <tab-content *ngIf="selectedTab && selectedTab.content" [tab]="selectedTab" (onRemove)="onRemove($event)"></tab-content>
</div>