body {
  font-family: sans-serif;
}

.tabs__titles {
  flex: 1 1 0;
  flex-direction: row;
  margin-bottom: 10px;
}
.tabs__title {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #dedede;
}
.tabs__title--active {
  border-bottom: 3px solid #333;
}